In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import matplotlib as mpl


# 重新加载模块以应用修改
import importlib
import getdata_daily_from_localdata
importlib.reload(getdata_daily_from_localdata)

from getdata_daily_from_localdata import StockDataReader

# 创建StockDataReader实例
# reader = StockDataReader(data_type='efinance',parent_dir=r"\\DX4600-A923\personal_folder\99-data\downtask\taskweek\01-日线数据-efinance爬虫")
reader = StockDataReader(data_type='efinance', parent_dir=r"datatest\different_csv_data\efinance")  # 不填参数就用默认的地址和函数了

# 设置测试参数
symbol = "000001"  # 平安银行
end_date = datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.now() - timedelta(days=30)).strftime('%Y-%m-%d')

print(f"\n测试时间范围: {start_date} 到 {end_date}")

df = reader.get_standard_data(symbol, start_date, end_date)
df

测试时间范围: 2025-04-11 到 2025-05-11
datatest\different_csv_data\efinance\2025-04-25\000001.csv

      股票代码         日期     开盘     收盘     最高     最低      成交量           成交额
0   000001 2025-04-25  11.04  11.01  11.05  10.99   637547  7.023153e+08
1   000001 2025-04-24  11.00  11.03  11.06  10.99   689256  7.603486e+08
2   000001 2025-04-23  11.04  11.01  11.05  10.97   586383  6.458424e+08
3   000001 2025-04-22  11.02  11.04  11.06  10.98   831129  9.159677e+08
4   000001 2025-04-21  11.00  11.02  11.13  10.97  1114184  1.230805e+09
5   000001 2025-04-18  11.04  11.18  11.19  11.03   727098  8.100316e+08
6   000001 2025-04-17  10.95  11.06  11.08  10.93   823919  9.075975e+08
7   000001 2025-04-16  10.93  11.00  11.01  10.91   842822  9.233161e+08
8   000001 2025-04-15  10.92  10.95  10.97  10.90   722754  7.901391e+08
9   000001 2025-04-14  10.95  10.93  11.04  10.92   785993  8.625571e+08
10  000001 2025-04-11  10.87  10.89  10.90  10.83   583879  6.343118e+08

In [98]:
importlib.reload(getdata_daily_from_localdata)
from getdata_daily_from_localdata import StockDataReader

# 创建StockDataReader实例
# reader = StockDataReader(data_type='efinance',parent_dir=r"\\DX4600-A923\personal_folder\99-data\downtask\taskweek\01-日线数据-efinance爬虫")
reader = StockDataReader(data_type='efinance',parent_dir=r"datatest\different_csv_data\efinance")
symbol = "000001"  # 测试用股票代码（平安银行）
start_date = "2025-04-25"
end_date = "2026-01-31"

df = reader.get_standard_data(symbol, start_date, end_date)
df

datatest\different_csv_data\efinance\2025-04-25\000001.csv

     股票代码         日期     开盘     收盘     最高     最低     成交量           成交额
0  000001 2025-04-25  11.04  11.01  11.05  10.99  637547  7.023153e+08

In [99]:
importlib.reload(getdata_daily_from_localdata)
from getdata_daily_from_localdata import StockDataReader

# 创建StockDataReader实例
# reader = StockDataReader(data_type='efinance',parent_dir=r"\\DX4600-A923\personal_folder\99-data\downtask\taskweek\01-日线数据-efinance爬虫")
reader = StockDataReader(data_type='tushare')
symbol = "000001"  # 测试用股票代码（平安银行）
start_date = "2025-02-25"
end_date = "2026-01-31"

df = reader.get_standard_data(symbol, start_date, end_date)
df

D:\trading\dog\getdata_tushare_output\0102_股票数据_行情数据_历史日线\qfq\20250430\000001.SZ.csv

      股票代码         日期     开盘     收盘     最高     最低         成交量          成交额
0   000001 2025-04-30  10.96  10.91  10.97  10.89   869834.92   949911.030
1   000001 2025-04-29  11.00  10.98  11.02  10.95   649044.94   712792.543
2   000001 2025-04-28  11.00  11.00  11.04  10.96   642018.37   706520.176
3   000001 2025-04-25  11.04  11.01  11.05  10.99   637546.86   702315.255
4   000001 2025-04-24  11.00  11.03  11.06  10.99   689256.13   760348.555
5   000001 2025-04-23  11.04  11.01  11.05  10.97   586382.93   645842.400
6   000001 2025-04-22  11.02  11.04  11.06  10.98   831128.87   915967.678
7   000001 2025-04-21  11.00  11.02  11.13  10.97  1114184.18  1230804.536
8   000001 2025-04-18  11.04  11.18  11.19  11.03   727098.15   810031.605
9   000001 2025-04-17  10.95  11.06  11.08  10.93   823919.31   907597.513
10  000001 2025-04-16  10.93  11.00  11.01  10.91   842822.17   923316.063
11  000001 2025-04-15  10.92  10.95  10.97  10.90   722754.10   790139.077
12  000001 2025-04-14  10.95  10.93  11.04  10.92   785993.45   862557.144
13  000001 2025-04-11  10.87  10.89  10.90  10.83   583879.02   634311.780
14  000001 2025-04-10  10.86  10.90  10.93  10.82   866548.05   943352.302
15  000001 2025-04-09  10.73  10.80  10.83  10.66  1064394.05  1145238.958
16  000001 2025-04-08  10.68  10.82  10.85  10.66  1463987.71  1576590.040
17  000001 2025-04-07  11.00  10.70  11.05  10.48  2545560.48  2751055.412
18  000001 2025-04-03  11.31  11.34  11.39  11.30   643913.91   730375.808
19  000001 2025-04-02  11.25  11.37  11.41  11.25   932641.76  1058747.241
20  000001 2025-04-01  11.27  11.27  11.30  11.22   681470.42   767424.131
21  000001 2025-03-31  11.36  11.26  11.38  11.26  1116125.64  1262598.263
22  000001 2025-03-28  11.39  11.35  11.40  11.34   644945.55   732420.874
23  000001 2025-03-27  11.37  11.39  11.41  11.35   553349.40   629863.383
24  000001 2025-03-26  11.42  11.38  11.43  11.37   740863.07   843536.936
25  000001 2025-03-25  11.38  11.43  11.43  11.36   735608.88   839142.044
26  000001 2025-03-24  11.41  11.38  11.44  11.34  1164577.34  1325564.002
27  000001 2025-03-21  11.49  11.42  11.52  11.39  1376388.97  1576151.833
28  000001 2025-03-20  11.51  11.49  11.61  11.49  1101157.24  1268849.140
29  000001 2025-03-19  11.48  11.52  11.53  11.46  1362454.91  1566452.161
30  000001 2025-03-18  11.52  11.49  11.54  11.48  1605290.00  1846500.421
31  000001 2025-03-17  11.63  11.50  11.67  11.46  4603612.10  5315522.817
32  000001 2025-03-14  11.82  11.97  12.00  11.82  1722417.65  2057970.454
33  000001 2025-03-13  11.81  11.84  11.91  11.78  1312371.21  1555123.174
34  000001 2025-03-12  11.60  11.85  11.87  11.56  1877318.40  2210904.482
35  000001 2025-03-11  11.54  11.61  11.61  11.52   608975.27   704240.464
36  000001 2025-03-10  11.66  11.59  11.67  11.55   663833.93   769261.385
37  000001 2025-03-07  11.63  11.67  11.69  11.60   835536.69   973236.690
38  000001 2025-03-06  11.69  11.63  11.70  11.60   877407.71  1021780.609
39  000001 2025-03-05  11.52  11.66  11.67  11.48  1080645.44  1254892.074
40  000001 2025-03-04  11.47  11.51  11.55  11.44   683178.73   785447.989
41  000001 2025-03-03  11.52  11.51  11.56  11.45   830456.95   955266.366
42  000001 2025-02-28  11.58  11.53  11.68  11.50   949088.06  1100335.054
43  000001 2025-02-27  11.53  11.62  11.63  11.46   977309.75  1130386.662
44  000001 2025-02-26  11.47  11.52  11.60  11.47   841645.52   970641.211
45  000001 2025-02-25  11.56  11.47  11.58  11.46   917156.02  1055685.157

In [3]:
# 重新加载模块以应用修改
import importlib
import getdata_daily_from_localdata
importlib.reload(getdata_daily_from_localdata)

from getdata_daily_from_localdata import StockDataReader

# 创建StockDataReader实例
# reader = StockDataReader(data_type='efinance',parent_dir=r"\\DX4600-A923\personal_folder\99-data\downtask\taskweek\01-日线数据-efinance爬虫")
# reader = StockDataReader(data_type='efinance', parent_dir=r"datatest\different_csv_data\efinance")  # 不填参数就用默认的地址和函数了
reader = StockDataReader()

# 设置测试参数
symbol = "000001"  # 平安银行
end_date = datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.now() - timedelta(days=3600)).strftime('%Y-%m-%d')

print(f"\n测试时间范围: {start_date} 到 {end_date}")

df = reader.get_standard_data(symbol, start_date, end_date)
df

测试时间范围: 2015-07-03 到 2025-05-11
\\DX4600-A923\personal_folder\99-data\downtask\taskweek\01-日线数据-efinance爬虫\2025-04-30\000001.csv

        股票代码         日期     开盘     收盘     最高     最低      成交量           成交额
0     000001 2025-04-30  10.96  10.91  10.97  10.89   869835  9.499110e+08
1     000001 2025-04-29  11.00  10.98  11.02  10.95   649045  7.127925e+08
2     000001 2025-04-28  11.00  11.00  11.04  10.96   642018  7.065202e+08
3     000001 2025-04-25  11.04  11.01  11.05  10.99   637547  7.023153e+08
4     000001 2025-04-24  11.00  11.03  11.06  10.99   689256  7.603486e+08
...      ...        ...    ...    ...    ...    ...      ...           ...
2383  000001 2015-07-09   8.55   9.44   9.59   7.65  4344355  5.904699e+09
2384  000001 2015-07-08   9.07   8.55   9.22   8.55  4996697  6.762103e+09
2385  000001 2015-07-07   8.94   9.77   9.77   8.57  4808312  6.808004e+09
2386  000001 2015-07-06   9.47   9.12   9.48   8.63  3381527  4.660186e+09
2387  000001 2015-07-03   9.21   8.45   9.22   8.22  2597458  3.473336e+09

[2388 rows x 8 columns]

In [6]:
# 确保日期列是datetime类型并按时间正序排列
df['日期'] = pd.to_datetime(df['日期'])
df = df.sort_values('日期', ascending=True)
# 重置索引
df = df.reset_index(drop=True)
df

        股票代码         日期     开盘     收盘     最高     最低      成交量           成交额
0     000001 2015-07-03   9.21   8.45   9.22   8.22  2597458  3.473336e+09
1     000001 2015-07-06   9.47   9.12   9.48   8.63  3381527  4.660186e+09
2     000001 2015-07-07   8.94   9.77   9.77   8.57  4808312  6.808004e+09
3     000001 2015-07-08   9.07   8.55   9.22   8.55  4996697  6.762103e+09
4     000001 2015-07-09   8.55   9.44   9.59   7.65  4344355  5.904699e+09
...      ...        ...    ...    ...    ...    ...      ...           ...
2383  000001 2025-04-24  11.00  11.03  11.06  10.99   689256  7.603486e+08
2384  000001 2025-04-25  11.04  11.01  11.05  10.99   637547  7.023153e+08
2385  000001 2025-04-28  11.00  11.00  11.04  10.96   642018  7.065202e+08
2386  000001 2025-04-29  11.00  10.98  11.02  10.95   649045  7.127925e+08
2387  000001 2025-04-30  10.96  10.91  10.97  10.89   869835  9.499110e+08

[2388 rows x 8 columns]

In [9]:
import strategy
importlib.reload(strategy)
from strategy import MovingAverageStrategy, AnnualMAStrategy, ProportionalMAStrategy

# 测试参数
initial_cash = 1000000  # 初始资金100万
symbol = '000001'

test_data = df.copy()

# 测试比例交易策略
proportional_strategy = ProportionalMAStrategy(
    symbol=symbol,
    initial_cash=initial_cash,
    buy_ratio=0.3,
    sell_ratio=0.2
)
# proportional_results = proportional_strategy.execute_strategy(test_data.copy())
proportional_results = proportional_strategy.generate_signals(test_data.copy())
proportional_results

,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,MA_250,信号
0,000001,2015-07-03,9.21,8.45,9.22,8.22,2597458,3.473336e+09,NaN,0
1,000001,2015-07-06,9.47,9.12,9.48,8.63,3381527,4.660186e+09,NaN,0
2,000001,2015-07-07,8.94,9.77,9.77,8.57,4808312,6.808004e+09,NaN,0
3,000001,2015-07-08,9.07,8.55,9.22,8.55,4996697,6.762103e+09,NaN,0
4,000001,2015-07-09,8.55,9.44,9.59,7.65,4344355,5.904699e+09,NaN,0
...,...,...,...,...,...,...,...,...,...,...
2383,000001,2025-04-24,11.00,11.03,11.06,10.99,689256,7.603486e+08,10.79216,1
2384,000001,2025-04-25,11.04,11.01,11.05,10.99,637547,7.023153e+08,10.79888,1
2385,000001,2025-04-28,11.00,11.00,11.04,10.96,642018,7.065202e+08,10.80560,1
2386,000001,2025-04-29,11.00,10.98,11.02,10.95,649045,7.127925e+08,10.81088,1
2387,000001,2025-04-30,10.96,10.91,10.97,10.89,869835,9.499110e+08,10.81516,1

In [19]:
import strategy
importlib.reload(strategy)
from strategy import MovingAverageStrategy, AnnualMAStrategy, ProportionalMAStrategy

# 测试参数
initial_cash = 1000000  # 初始资金100万
symbol = '000001'

test_data = df.copy()

# 测试比例交易策略
proportional_strategy = ProportionalMAStrategy(
    symbol=symbol,
    initial_cash=initial_cash,
    buy_ratio=0.3,
    sell_ratio=0.2
)
# proportional_results = proportional_strategy.execute_strategy(test_data.copy())
proportional_results = proportional_strategy.generate_signals(test_data.copy())
proportional_results

,股票代码,日期,开盘,收盘,最高,最低,成交量,成交额,MA_250,信号
0,000001,2015-07-03,9.21,8.45,9.22,8.22,2597458,3.473336e+09,NaN,0
1,000001,2015-07-06,9.47,9.12,9.48,8.63,3381527,4.660186e+09,NaN,0
2,000001,2015-07-07,8.94,9.77,9.77,8.57,4808312,6.808004e+09,NaN,0
3,000001,2015-07-08,9.07,8.55,9.22,8.55,4996697,6.762103e+09,NaN,0
4,000001,2015-07-09,8.55,9.44,9.59,7.65,4344355,5.904699e+09,NaN,0
...,...,...,...,...,...,...,...,...,...,...
2383,000001,2025-04-24,11.00,11.03,11.06,10.99,689256,7.603486e+08,10.79216,1
2384,000001,2025-04-25,11.04,11.01,11.05,10.99,637547,7.023153e+08,10.79888,1
2385,000001,2025-04-28,11.00,11.00,11.04,10.96,642018,7.065202e+08,10.80560,1
2386,000001,2025-04-29,11.00,10.98,11.02,10.95,649045,7.127925e+08,10.81088,1
2387,000001,2025-04-30,10.96,10.91,10.97,10.89,869835,9.499110e+08,10.81516,1

In [16]:
# 测试年均线突破策略
annual_ma_strategy = AnnualMAStrategy(
    symbol=symbol,
    initial_cash=initial_cash
)
annual_ma_results = annual_ma_strategy.execute_strategy(test_data.copy())
# annual_ma_results = annual_ma_strategy.generate_signals(test_data.copy())
annual_ma_results

,日期,业务名称,成交数量,成交价格,成交金额,印花税,佣金,余额,总金额
0,2016-08-01,证券买入,143472.0,6.97,999999.84,0.00,300.00,-299.84,999700.00
1,2016-08-04,证券卖出,143472.0,6.68,958392.96,958.39,287.52,956847.21,956847.21
2,2016-08-09,证券买入,139889.0,6.84,956840.76,0.00,287.05,-280.60,956560.16
3,2016-09-27,证券卖出,139889.0,6.75,944250.75,944.25,283.28,942742.62,942742.62
4,2016-09-28,证券买入,139872.0,6.74,942737.28,0.00,282.82,-277.48,942459.80
5,2016-11-09,证券卖出,139872.0,6.76,945534.72,945.53,283.66,944028.05,944028.05
6,2016-11-10,证券买入,138217.0,6.83,944022.11,0.00,283.21,-277.27,943744.84
7,2017-03-30,证券卖出,138217.0,6.77,935729.09,935.73,280.72,934235.37,934235.37
8,2017-03-31,证券买入,136185.0,6.86,934229.10,0.00,280.27,-274.00,933955.10
9,2017-04-14,证券卖出,136185.0,6.77,921972.45,921.97,276.59,920499.89,920499.89
10,2017-06-01,证券买入,133793.0,6.88,920495.84,0.00,276.15,-272.10,920223.74
11,2017-06-05,证券卖出,133793.0,6.72,899088.96,899.09,269.73,897648.04,897648.04
12,2017-06-23,证券买入,129344.0,6.94,897647.36,0.00,269.29,-268.61,897378.75
13,2018-03-23,证券卖出,129344.0,9.18,1187377.92,1187.38,356.21,1185565.72,1185565.72
14,2018-04-11,证券买入,122602.0,9.67,1185561.34,0.00,355.67,-351.29,1185210.05
15,2018-04-16,证券卖出,122602.0,8.94,1096061.88,1096.06,328.82,1094285.71,1094285.71
16,2018-04-19,证券买入,117538.0,9.31,1094278.78,0.00,328.28,-321.35,1093957.43
17,2018-04-20,证券卖出,117538.0,9.19,1080174.22,1080.17,324.05,1078448.65,1078448.65
18,2018-04-24,证券买入,111180.0,9.70,1078446.00,0.00,323.53,-320.88,1078125.12
19,2018-04-26,证券卖出,111180.0,9.26,1029526.80,1029.53,308.86,1027867.53,1027867.53
20,2019-01-28,证券买入,115231.0,8.92,1027860.52,0.00,308.36,-301.35,1027559.17
21,2020-02-03,证券卖出,115231.0,12.11,1395447.41,1395.45,418.63,1393331.98,1393331.98
22,2020-02-05,证券买入,109280.0,12.75,1393320.00,0.00,418.00,-406.02,1392913.98
23,2020-03-02,证券卖出,109280.0,12.91,1410804.80,1410.80,423.24,1408564.74,1408564.74
24,2020-03-03,证券买入,109701.0,12.84,1408560.84,0.00,422.57,-418.67,1408142.17
25,2020-03-09,证券卖出,109701.0,12.57,1378941.57,1378.94,413.68,1376730.28,1376730.28
26,2020-03-11,证券买入,107473.0,12.81,1376729.13,0.00,413.02,-411.87,1376317.26
27,2020-03-12,证券卖出,107473.0,12.80,1375654.40,1375.65,412.70,1373454.18,1373454.18
28,2020-07-06,证券买入,97963.0,14.02,1373441.26,0.00,412.03,-399.11,1373042.15
29,2020-07-13,证券卖出,97963.0,13.23,1296050.49,1296.05,388.82,1293966.51,1293966.51
30,2020-07-14,证券买入,99382.0,13.02,1293953.64,0.00,388.19,-375.32,1293578.32
31,2020-07-15,证券卖出,99382.0,12.61,1253207.02,1253.21,375.96,1251202.53,1251202.53
32,2020-08-17,证券买入,92476.0,13.53,1251200.28,0.00,375.36,-373.11,1250827.17
33,2020-08-20,证券卖出,92476.0,12.93,1195714.68,1195.71,358.71,1193787.15,1193787.15
34,2020-08-31,证券买入,88955.0,13.42,1193776.10,0.00,358.13,-347.08,1193429.02
35,2021-07-26,证券卖出,88955.0,17.32,1540700.60,1540.70,462.21,1538350.61,1538350.61
36,2021-08-19,证券买入,81566.0,18.86,1538334.76,0.00,461.50,-445.65,1537889.11
37,2021-08-20,证券卖出,81566.0,17.94,1463294.04,1463.29,438.99,1460946.11,1460946.11
38,2023-01-05,证券买入,110426.0,13.23,1460935.98,0.00,438.28,-428.15,1460507.83
39,2023-02-13,证券卖出,110426.0,12.57,1388054.82,1388.05,416.42,1385822.20,1385822.20
40,2023-02-14,证券买入,109034.0,12.71,1385822.14,0.00,415.75,-415.69,1385406.45
41,2023-02-16,证券卖出,109034.0,12.35,1346569.90,1346.57,403.97,1344403.67,1344403.67
42,2023-02-21,证券买入,104622.0,12.85,1344392.70,0.00,403.32,-392.35,1344000.35
43,2023-03-08,证券卖出,104622.0,12.28,1284758.16,1284.76,385.43,1282695.62,1282695.62
44,2023-05-09,证券买入,107699.0,11.91,1282695.09,0.00,384.81,-384.28,1282310.81
45,2023-05-10,证券卖出,107699.0,11.59,1248231.41,1248.23,374.47,1246224.43,1246224.43
46,2024-05-06,证券买入,125500.0,9.93,1246215.00,0.00,373.86,-364.43,1245850.57
47,2024-05-08,证券卖出,125500.0,9.77,1226135.00,1226.13,367.84,1224176.60,1224176.60
48,2024-05-10,证券买入,122662.0,9.98,1224166.76,0.00,367.25,-357.41,1223809.35
49,2024-06-24,证券卖出,122662.0,9.73,1193501.26,1193.50,358.05,1191592.30,1191592.30
50,2024-06-25,证券买入,121219.0,9.83,1191582.77,0.00,357.47,-347.94,1191234.83
51,2024-07-08,证券卖出,121219.0,9.68,1173399.92,1173.40,352.02,1171526.56,1171526.56
52,2024-07-09,证券买入,119300.0,9.82,1171526.00,0.00,351.46,-350.90,1171175.10
53,2024-09-11,证券卖出,119300.0,9.40,1121420.00,1121.42,336.43,1119611.25,1119611.25
54,2024-09-20,证券买入,116021.0,9.65,1119602.65,0.00,335.88,-327.28,1119275.37
55,2025-04-07,证券卖出,116021.0,10.70,1241424.70,1241.42,372.43,1239483.57,1239483.57
56,2025-04-10,证券买入,113714.0,10.90,1239482.60,0.00,371.84,-370.87,1239111.73

In [116]:
import strategy
importlib.reload(strategy)
from strategy import MovingAverageStrategy, AnnualMAStrategy, ProportionalMAStrategy

# 测试参数
initial_cash = 1000000  # 初始资金100万
symbol = '000001'

test_data = df.copy()

# 测试比例交易策略
proportional_strategy = ProportionalMAStrategy(
    symbol=symbol,
    initial_cash=initial_cash,
    buy_ratio=0.3,
    sell_ratio=0.2
)
proportional_strategy.commission_rate

0.0003

In [118]:
# 测试比例交易策略
proportional_strategy = ProportionalMAStrategy(
    symbol=symbol,
    initial_cash=initial_cash,
    buy_ratio=0.3,
    sell_ratio=0.2,
    commission_rate = 0.0006
)
proportional_strategy.commission_rate

0.0006

In [ ]:
# elif df.iloc[i]['信号'] == 1 and df.iloc[i-1]['信号'] != 1: